<form role="form" ng-submit="saveConfig()" name="adminForm" class="col-md-5">
  <div class="form-group" ng-repeat="job in shoot.Jobs">
    <label>{{job.name}}</label>
    <input type="email" class="form-control" ng-model="shoot.Jobs[$index].user" placeholder="email de l'utilisateur">
  </div>
  <button type="submit" class="btn btn-success btn-lg col-md-12">Sauvegarder les utilisateurs</button>
</form>

<div class="bs-callout bs-callout-info col-md-7">
  <h4>Lister les participants</h4>
  <p>Entrez les adresses email des participants à ce shoot. Si des participants ne
    sont pas inscrits sur clevershoot, nous les inviterons pour vous.</p>
</div>