<h3>Ajouter un nouveau Shooting</h3>

<div ng-if="hasConfig()" ng-controller="shootConfigCtrl">
  <div ng-include src="'/templates/partials/shoot-config.html'"></div>
</div>

<form role="form"  ng-controller="shootCtrl" ng-submit="add()">
  <div class="form-group">
    <label>Intitulé</label>
    <input type="text" class="form-control" ng-model="form.name">
  </div>
  <div class="form-group" job-list>
    <div class="bs-callout bs-callout-info">
      <h4>Ajouter des travaux</h4>
      <p>Vos images traversent plusieures petites mains avant d'être prêtes ? Listez les différents travaux à effectuer ici</p>
    </div>
    <label>Jobs</label>

    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" id="job-name" placeholder="ex: retouche">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="add-job">Ajouter</button>
      </span>
      </div>
    </div>

    <div id="job-list">@ job list @</div>

  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>