<div class="container">
  <div id="homepage" class="app row">
    <h1>Clevershoot<small>shoot it like you mean it.</small></h1>
    <a href="/user/login" class="link btn btn-primary">Login</a>
    <a href="/user/register" class="link btn btn-primary">Register</a>
  </div>
</div>
