<div ng-include src="'/templates/partials/navbar.html'"></div>

<div class="container">

  <div ng-if="isShoot()" ng-controller="jobCtrl">
    <h3>Configurer mes utilisateurs</h3>
    <div ng-include id="form-shooting-jobs" class="row" src="'/templates/job/partials/job-config.html'"></div>
  </div>

  <div ng-if="!hasConfig()" ng-controller="shootConfigCtrl">
    <h3>Ajouter un shooting</h3>
    <form role="form" id="form-shooting-add" class="row" ng-controller="shootCtrl" ng-submit="add()" name="formShootingAdd">
      <div class="form-group col-md-5">
        <label>Intitulé</label>
        <input type="text" class="form-control" ng-model="shoot.name">
        <label>Description</label>
        <textarea name="description" class="form-control" rows="3" ng-model="shoot.description"></textarea>
        <button type="submit" id="form-shooting-save" class="btn btn-success btn-lg">Sauvegarder mon shooting</button>
      </div>
    </form>
  </div>

</div>
