<div ng-include src="'/templates/partials/navbar.html'"></div>

<div class="container">


  <div class="col-md-2"></div>

  <div class="col-md-8">
    <h3>Configurer {{shoot.name}}</h3>
    <div class="bs-callout bs-callout-info col-md-12">
      <h4>Gérer mes utilisateurs</h4>
      Ajoutez ou supprimer des personnes votre projet et définissez leur rôle.
    </div>

    <div class="form-group col-md-12" job-list>

      <div class="col-md-12">
        <label>Ajoutez autant de postes que vous voulez</label>

        <form name="configForm" id="configForm" class="navbar-form navbar-right" role="search" ng-submit="addRole()" job-config-form>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="job-user" placeholder="email@domaine.fr" ng-model="form.email">
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" ng-model="form.role" id="role-user">
              <option value="observer">Observateur</option>
              <option value="worker">Travailleur</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success col-md-3">Ajouter</button>
          <div class="form-group hidden col-md-12" id="work-name">
            <input type="text" class="form-control" placeholder="Retouche" id="job-name" ng-model="form.name">
            <label style="vertical-align: bottom;">Renseignez le nom du poste de travail</label>
          </div>
        </form>

        <br style="clear:both"/>

        <div class="well">
          <div ng-repeat="job in jobs | filter:filterRoles('worker')"
               ng-class="{'btn-warning': job.role == 'observer'}"
               class="job btn btn-primary btn-lg btn-block"
               data-toggle="tooltip" data-placement="left" title="Cliquez pour supprimer">{{job.User}}&nbsp;<span>[{{job.name}}]</span></div>
        </div>
      </div>

    </div>
  </div>

</div>