<div ng-if="!hasShoots()">
  <h1>Bienvenue ! <small>On dirait que vous ne travaillez sur aucun shooting, desirez-vous en ajouter un ?</small></h1>
  <a href="/shoot/add" class="btn btn-success btn-lg">Ajouter un nouveau shooting</a>
</div>

<div ng-if="hasShoots()">
  <table class="table table-striped" id="shootings-table">
    <thead>
    <tr>
      <th>Intitulé</th>
      <th>Roles</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="shoot in shoots">
        <td><a href="/shoot/{{shoot.id}}">{{shoot.name}}</a></td>
        <td>
          <a href="/shoot/{{shoot.id}}"><span ng-repeat="job in shoot.Jobs" class="label"
            ng-class="(job.role == 'admin') ? 'label-primary' : 'label-warning'">{{ job.name }}</span></a>
        </td>
        <td>
          <a href="/shoot/{{shoot.id}}/config" class="btn btn-xs btn-danger" ng-if="isShootAdmin(shoot)">Configurer le shooting</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

