#references-table {
	thead th {
		cursor: pointer;
		-webkit-user-select: none;
		&.active {
			position: relative;
		}
		&.active::after {
			position: absolute;
			display: inline-block;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: 400;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\e134";
			right: 15px;
			top: 10px;
		}
		&.active.reverse::after {
			content: "\e133";
		}
	}

	.images-table {
		.jobbtn {
			margin-right: 5px;
		}
		.delbtn {
			float: right;
		}
		tr.done {
			background-color: lighten(#5cb85c, 35%);
		}
	}
}

.reference-list {
	.panel.panel-success {
		height: 41px;
		overflow: hidden;
		cursor: pointer;

		&.open {
			height: auto;
		}

	}
}