#form-shooting-add {

	// le conteneur du .well #job-list
	.col-md-12.jobs {
		margin-top: 15px;
	}
}

#form-shooting-save {
	margin-top: 50px;
	&:extend(
		.col-md-12
	);
}

#form-shooting-jobs {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}